root = false

# Topmost .editorconfig

[*]
indent_style = space
charset = 
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = false
indent_size = 2

file_header_template= Copyright (c) Meta Platforms, Inc. and affiliates.
